.profile{
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;

    background-color: rgba(169, 169, 169,0.3)
}

.container{
    display: block;
    padding: 40px;
    background: #fff;

    box-shadow: 0px 0px 21px -5px rgba(34, 60, 80, 1) inset;

}

.description{
    display: flex;
    align-items: center;
    flex-direction: column;
}